In [1]:
import ixmp
import pyam

pyam - INFO: Running in a notebook, setting `pyam` logging level to `logging.INFO` and adding stderr handler

In [2]:
mp = ixmp.Platform('integration-test')

In [3]:
mp.scenario_list(default=False)

,model,scenario,scheme,is_default,is_locked,cre_user,cre_date,upd_user,upd_date,lock_user,lock_date,annotation,version
0,model_a,scen_a,None,1,0,huppmann,2020-06-19 16:07:08.000000,None,None,None,None,importing scenario data from pyam test suite,1
1,model_a,scen_a,None,0,0,huppmann,2020-06-19 16:08:19.000000,None,None,None,None,importing scenario data from pyam test suite,2
2,model_a,scen_b,None,1,0,huppmann,2020-06-19 16:07:09.000000,None,None,None,None,importing scenario data from pyam test suite,1
3,model_b,scen_a,None,1,0,huppmann,2020-06-19 16:13:12.000000,None,None,None,None,importing scenario data from pyam test suite,1

In [4]:
scen = ixmp.Scenario(mp, 'model_b', 'scen_a')

In [5]:
scen.timeseries()

  region             variable   unit subannual  year  value    model scenario
0  World  Primary Energy|Coal  EJ/yr    Summer  2005    0.4  model_b   scen_a
1  World  Primary Energy|Coal  EJ/yr    Summer  2010    2.0  model_b   scen_a
2  World  Primary Energy|Coal  EJ/yr      Year  2005    0.9  model_b   scen_a
3  World  Primary Energy|Coal  EJ/yr      Year  2010    5.0  model_b   scen_a
4  World       Primary Energy  EJ/yr    Summer  2005    1.0  model_b   scen_a
5  World       Primary Energy  EJ/yr    Summer  2010    3.0  model_b   scen_a
6  World       Primary Energy  EJ/yr      Year  2005    3.0  model_b   scen_a
7  World       Primary Energy  EJ/yr      Year  2010    8.0  model_b   scen_a

In [ ]:
scen.set_meta('string', 'baz')

In [ ]:
scen.set_meta('number', 3)